{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "experimental": {
      "plugins": [["jest_workaround", {}]]
    }
  },
    "module": {
        "type": "commonjs",
        "strict": true
      }    
}
